.listProducts {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 96px;
}

/* .ListProducts__title {
    position: absolute;
    width: 240px;
    height: 24px;
    top: 102px;
    left: 152px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 24px;
    text-align: center;
    color: #000000;
} */

@media only screen and (min-width: 1100px) {
    .listProducts {
        max-width: 1160px;
    }
}


/* retirei o     max-width: 1200px; do .listProducts pros cards ficarem centralizados na página de modo dinâmica */