.ProductDetail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-start;
}

.ProductDetail__title {
  animation: animation-initial-detail 3s;
}

@keyframes animation-initial-detail {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}