
.purchaseButtons__body{
    position: relative;
    width: 226px;
    height: 44px;
}

.Card__footer__button__buy {
    position: absolute;
    width: 226px;
    height: 44px;
    top: 0;
    left: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    background: #8000FF;
    border: unset;
    border-radius: 4px;
    outline: unset;
    cursor: pointer;
}

.Card__footer__amountBag__sub:active, .Card__footer__amountBag__sum:active, .Card__footer__button__buy:active, .Card__section_expansiveTitle:active {
    font-size: 10pt;
}
.Card__footer__button__buy:hover, .Card__footer__amountBag__sub:hover, .Card__footer__amountBag__sum:hover, .Card__section_expansiveTitle:hover {
    opacity: .7;
}

.Card__footer__amountBag {
    position: absolute;
    width: 19px;
    height: 24px;
    top: 12px;
    left: 104px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.Card__footer__amountBag__sub {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 0;
    left: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    background: #8000FF;
    border: unset;
    border-radius: 4px;
    outline: unset;
    cursor: pointer;
}

.Card__footer__amountBag__sum {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 0;
    left: 182px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    background: #8000FF;
    border: unset;
    border-radius: 4px;
    outline: unset;
    animation: all 10s;
    animation-delay: 10s;
    cursor: pointer;
}