.table__cart__list {
    background-color: white;
    border-collapse: collapse;
    width: 100%;
}

.table__cart__list th, td {
    padding: 15px;
    text-align: left;
}

.table__cart__list th {
    background-color: #e5e5e5;
    margin:0;
    white-space: nowrap;
}

.table__cart__list tr {
    width: 100%;
}

.table__cart__list th {
    text-align: left;
    width: 100%;
}
.table__cart__total {
    text-align: right;
    margin: 20px;
    padding: 20px;
}