@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.shop__cart {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.cart__list__header {
    display: flex;
    justify-content: space-between;
    padding: 0 32px 8px;
}

.cart__list__header__title {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.cart__list__body__panel {
    background-color: white;
    padding: 32px;
    margin: 8px 0;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.13);
    border-radius: 7px;
    min-height: 306px;
}

.cart__list__body {
    display: flex;
    justify-content: space-between;
}

.cart__list__body__product__title {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding: 16px 0;
    color: #000000;
}

.cart__list__body__product {
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding: 16px 0;
}

.cart__list__body__product__subtotal {
    text-align: right;
}

.cart__list__body__product > div {
    width: 100%
}

.cart__list__body__divider {
    border: 1px solid #f1f1f1;
    line-height: 24px;
}

.cart__list__footer {
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding: 8px 0;
    width: 100%;
}

.cart__list__footer__info {
    display: flex;
    width: 50%;
    justify-content: space-between;
    text-align: right;
}

.cart__list__footer__info__subtotal {
    width: 55%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    margin: 12px 0;
    color: #000000;
}

.cart__list__footer__info__subtotal > span {
    font-size: 16px;
}

.cart__list__footer__info__button {
    width: 226px;
    height: 44px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    background: #8000ff;
    border: unset;
    border-radius: 4px;
    outline: unset;
    cursor: pointer;
}

.cart_list_empty {
    display: flex;
    justify-content: center;
}